body {
  font-family: 'EB Garamond', serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

/* font import example @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap'); */
